
#back-to-top {

background-color: #007bff;
color: white;
border: none;
padding: 10px 20px;
position: fixed;
bottom: 80px;
right: 80px;
cursor: pointer;
display: none;
}


#back-to-top:hover {
    background-color: #0056b3;
  }




#navbar {

    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;    

}


#header {
    position: relative;
}


#header-image {
    position: relative;
    top: 110px; 
    
  
}

