
  .back-to-top {
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 1000;

}

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; 
    padding: 15px;
    z-index: 1000; 
}


#header {
    position: relative;
}


#header-image {
    position: relative;
    left: -20px; 
    top: -20px; 

  
}

